# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5630741c4eb57600c80390692a971239c1407111d5134d6285921a27b32a85a8dba5990a155fb2980477f41b46de6c09c76b3cd961a40cb9bbfc77c77ec2102a

test:
  secret_key_base: 947d675519587a4bbe69264b428d2a3a6546d07ea65b07d4812f343d6cb4a2e0cce1b5e895ba1bec7d53de03564baa64c55f747c8ea8849688852018342f0b7a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
