/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */

$white_opaque: rgba(250, 250, 250, .3);
$dark: #5136eb;

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
    height: 90%;
	background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:         linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 0.8em;
	color: $dark;
	font-weight: 100;
}

.container {
	width: 50%;
	max-width: 750px;
	// background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 15px;
	// -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	// box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}
header{
	clear: right;
	.main_title {
	    text-align: center;
		font-weight: 700;
		font-size: 2em;
		text-transform: uppercase;
		color: #2c1994;
		margin: 0;
		a {
			text-decoration: none;
			color: #660033;
			transition: all .4s ease-in-out;
			&:hover {
				opacity: 0.4;
			}
		}

	}

	.main_sub_title {
		margin: 0 0 3em 0;
		text-align: center;
		font-size: 1.1em;
		color: #660033;
		font-weight: 300;
	}
}

.todo_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 1.6em;
	text-transform: uppercase;
	color: #2c1994;
	margin: 0;
	a {
		text-decoration: none;
		color: #2c1994;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 1em;
	color: $dark;
	font-weight: 400;
}

.index_row {
	background: rgba(102, 0, 51, .1);
	padding: 1.9em;
	border-radius: 15px;
	border: 5px solid rgba(102, 0, 51, .6);
	margin: 8px;
	.todo_list_sub_title {
		margin: 4px;
	}
}
#todo_item_deadline{
	width: 20%;
	margin: .3em 2% 1em .3em;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 0.8em 0.8em;

}
#todo_items_wrapper {
	.row {
		width: 100%;
		border: 1px solid rgba(102, 0, 51, .6);
		background: rgba(102, 0, 51, .1);
		// border-bottom: 1px solid rgba(102, 0, 51, .6);
		.complete {
			width: 5%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(102, 0, 51, .6);
			padding: 1em 0;
		}
		.todo_item {
			width: 60%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 400;
			}
		}
		.deadline {
			width: 20%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 300;
			}
			text-align: center;
		}
		.sorting {
			width: 5%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(102, 0, 51, .6);
			padding: 1em 0;
		}
		.edit {
			width: 5%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(102, 0, 51, .6);
			padding: 1em 0;
		}
		.trash {
			width: 5%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(102, 0, 51, .6);
			padding: 1em 0;
		}
		i {
			color: #767676;
			transition: all .4s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding: 0 5%;
		input[type="text"] {
			width: 63%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 40px;
			border-radius: 4px;
			padding: 1em 2em;
		}
		// input[type="date"], textarea {
		// 	width: 17%;
		// 	margin: .5em 2% 1em .5em;
		// 	display: inline-block;
		// 	outline: none;
		// 	background: rgba(250,250,250,.4);
		// 	border: none;
		// 	height: 40px;
		// 	border-radius: 4px;
		// 	padding: 0.8em 0.8em;
  //       } 
		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			width: 10%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $dark;
			}
		}
		::-webkit-input-placeholder { color: $dark; }
	}
}

.links {
	display: block;
	margin: 0.8em auto 0 auto;
	text-align: center;
	font-size: 1.2em;
	color: #2c1994;
	a {
		color: #2c1994;
		text-decoration: none;
	}
}

.forms {
	padding: 0 5%;
	text-align: center;
}
label {
	color: $dark;
}
input[type="text"], textarea {
	width: 63%;
	margin: .5em 2% 1em .5em;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
input[type="password"], textarea {
	width: 63%;
	margin: .5em 2% 1em .5em;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
textarea {
	height: 200px;
}
input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 10px;
	width: 10%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: $dark;
	&:hover {
		background: $dark;
		color: white;
	}
}
::-webkit-input-placeholder { color: $dark; }


// for head of header
div.alert {
    border: 2px solid #aaa;
    padding: 10px;
}
div.flash.success { border: 2px solid green; color: green; }
div.flash.error   { border: 2px solid red;   color: red;   }
div.flash.notice  { border: 2px solid blue;  color: blue;  }

// .clear { clear: both; }

div.nav {
	// border-bottom: 1px solid #2c1994;
	float: right;
	margin: 2px;
	padding: 2px 2px 2px 2px;
}
div.nav h5 {
	float: right;
	// margin: 2px 2px 2px 2px;
}
div.nav a { text-decoration: none !important; }
div.nav ul {
	float: right;
	list-style: none;
	clear: right;
	margin: 0 0 0 1em;
	padding: 0;
}
div.nav ul li {
	float: right;
}
div.nav ul li a {
	display: block;
	margin: 0 0 0 0.4em;
	border-radius: 10px;
	border:solid 1px #7495a3;
	width: auto;
	padding: 8px 10px 8px 10px;
	background: #3ba4c7;
	color: #660033;
}
div.nav ul li a:hover {
	background: #660033;
	color: #3ba4c7;
}

// for the button on main page
.button{text-decoration:none; text-align:center; 
 padding:11px 17px; 
 border:solid 1px #7495a3; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#660033; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:11px 17px; 
 border:solid 1px #7495a3; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:15px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#660033; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:11px 17px; 
 border:solid 1px #7495a3; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:15px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#660033; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }